@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--Cream);
}
.main {
  width: 600px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  overflow: hidden;
}
/* .image {
  background-image: url(image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
} */
img{
    width: 100%;
    height: 100%;
 }
 .mobile{
    display: none;
 }
.perfume {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
  background-color: var(--White);
  height: 100%;
}
.prices {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.price {
  color: var(--Darkcyan);
  font-family: "Fraunces", serif;
}
h1 {
  font-family: "Fraunces", serif;
  line-height: 33px;
  color: var(--Verydarkblue);
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--Darkgrayishblue);
  line-height: 20px;
  font-weight: 500;
  word-spacing: 3px;
}
.heading {
  letter-spacing: 5px;
}
span {
  text-decoration: line-through;
  color: var(--Darkgrayishblue);
}
button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--Darkcyan);
  color: var(--White);
  display: flex;
  justify-content: center;
  font-weight: 700;
}
button:hover{
    background-color: hsl(158, 35%, 25%);
}
svg {
  padding-right: 10px;
}
@media (max-width: 525px){
    .prices{
        display: block;
    }
}
@media (max-width: 420px){
    .container{
        display: flex;
        padding: 20px;
        align-items: start;
        padding-top: 30px;
        width: 100vw;
    }
    .main{
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .prices{
        display: flex;
    }
    .perfume{
        padding: 20px;
        height: fit-content;
        gap: 20px;
    }
}